<!DOCTYPE html>
<h1>About</h1>

<h2>Share your ideas with the world and find others.</h4>

<h4 style='line-height:30px;word-spacing:4px'>
  This was one of my projects while learning the Ruby on Rails framework. In this web app you can share some of the revolutionary ideas  that are going on in your head. You can edit or delete the ideas you posted. Lets make a good use of this  platform. Thanks for checking out.
</h4>